{% extends 'familytreebuilder/base2.html' %}

{% load static %}

{% block title %}Wybierz członka rodziny{% endblock %}

{% block script %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
{% endblock %}

{% block main %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-7">
            {% if member_list %}
            {% for member in member_list %}

            <div class="border">
                <div class="row">
                    <div class="col-md-auto">
                        {% if member.photo %}
                        <img id="currentPhoto" src={{ member.photo.url }} class="img-rounded"
                             onerror="this.src = 'static/images/no-img.png'" height="150">
                        {% else %}
                        <img src="{% static 'images/no-img.png' %}" class="img-rounded" height="150">
                        {% endif %}
                    </div>
                    <div class="col-md-auto">
                        <div class="container">
                            <h1> {{ member }}</h1>
                            <h5> Pokolenie: {{ member.generation }}</h5>
                            <a href="{% url 'make_relation' member_pk=member_pk member_dest_pk=member.pk closest=closest %}" class="btn btn-primary active" role="button"
                            >Wybierz</a>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
            {% endif %}
        </div>
    </div>

</div>

{% endblock %}