{% extends 'familytreebuilder/base2.html' %}

{% load static %}

{% block title %}Rodzina{% endblock %}

{% block script %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
{% endblock %}

{% block main %}

<div class="container">
    {% if member_list %}
    {% for member in member_list %}

    <div class="border">
        <div class="row">

            <div class="col-sm">
                {% if member.photo %}
                <img id="currentPhoto" src={{ member.photo.url }} class="img-rounded"
                     onerror="this.src = 'static/images/no-img.png'" height="120">
                {% else %}
                <img src="{% static 'images/no-img.png' %}" class="img-rounded" height="120">
                {% endif %}
            </div>
            <div class="col-sm">
                <div class="container">
                    <h1> {{ member }}</h1>
                    <br>
                    <a href="{% url 'member_edit' pk=member.pk %}" class="btn btn-primary active" role="button"
                       aria-pressed="true">Edytuj</a>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}

    {% else %}
    <div id="start">
        <a href="{% url 'member_create' family_pk=family_pk %}" class="btn btn-lg btn-primary active" role="button"
           aria-pressed="true">Dodaj pierwszego członka rodziny</a>
    </div>
    {% endif %}
</div>

{% endblock %}