{% extends 'familytreebuilder/base.html' %}

{% block title %}Family Tree Builder{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Witaj {{ user.username }}!
  <p><a href="{% url 'logout' %}">Wyloguj</a></p>
  <p><a href="{% url 'password_reset' %}">Zmień hasło</a></p>
{% else %}
  <p>Nie jesteś zalogowany!</p>
  <a href="{% url 'login' %}" class="btn btn-primary active" role="button" aria-pressed="true">Logowanie</a>
  <a href="{% url 'signup' %}" class="btn btn-primary active" role="button" aria-pressed="true">Rejestracja</a>

{% endif %}
{% endblock %}