{% extends 'familytreebuilder/base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block script %}
<link rel="stylesheet" href="{%  static 'css/home.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
{% endblock %}

{% block content %}
{% if user.is_authenticated %}


<div class="page-header">
    <h2 class="mt-2">Family Tree Builder</h2>
    <div class="page-header-items">
        <h5>Witaj {{ user.username }}!</h5>
        <a href="{% url 'password_reset' %}" class="btn btn-info">
            <span class="fas fa-cog"></span>
        </a>
        <a href="{% url 'logout' %}" class="btn btn-info">
            <span class="fas fa-power-off"></span>
        </a>
    </div>
</div>


<div class="container">
    {% if family_list %}
    {% for family in family_list %}

    <div class="border">
        <div class="row">

            <div class="col-sm">
                <img id="currentPhoto" src={{ family.photo.url }} class="img-rounded"
                     onerror="this.src = 'static/images/no-img.png'" height="180">
            </div>
            <div class="col-sm">
                <div class="container">
                    <h1> {{ family }}</h1>
                    <br>
                    <h5>Liczba członków rodziny: {{ family.size }}</h5>
                    <h5>Ostatnia modyfikacja: {{ family.last_update }}</h5>
                    <a href="{% url 'show_family' pk=family.pk %}" class="btn btn-primary active" role="button" aria-pressed="true">Edytuj</a>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}


    {% else %}
    <h4>Tu pokaże się lista drzew stworzonych przez Ciebie!</h4>
    {% endif %}
</div>


{% else %}
<div class="container">
    <h2 class="mt-2">Family Tree Builder</h2>
    <hr>
    <h5>Nie jesteś zalogowany!</h5>
    <a href="{% url 'login' %}" class="btn btn-primary active" role="button" aria-pressed="true">Logowanie</a>
    <a href="{% url 'signup' %}" class="btn btn-primary active" role="button" aria-pressed="true">Rejestracja</a>
</div>
{% endif %}
{% endblock %}