<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Regulamin</title>
</head>
<body>
<h3>
    Regulamin
</h3>
<p>
    Zgodnie z art. 13 ust. 1 i ust. 2 ogólnego rozporządzenia o ochronie danych osobowych z dnia 27 kwietnia 2016 r. informuję, iż:<br>

1) administratorem Pani/Pana danych osobowych jest Marcin Celejewski. <br>

2) inspektorem ochrony danych jest Marcin Celejewsk.i <br>

3) Pani/Pana dane osobowe przetwarzane będą w celu zapewnienia fukcjonalności aplikacji z, której Pan/Pani korzysta. <br>

4) Pani/Pana dane osobowe będą przechowywane do momentu posiadania przez Pani?Pana konta w naszym serwisie. <br>
5) Posiada Pani/Pan prawo dostępu do treści swoich danych oraz prawo ich sprostowania, usunięcia, ograniczenia przetwarzania, prawo do przenoszenia danych, prawo wniesienia sprzeciwu, prawo do cofnięcia zgody w dowolnym momencie bez wpływu na zgodność z prawem przetwarzania. <br>

6) Ma Pan/Pani prawo wniesienia skargi do GIODO gdy uzna Pani/Pan, iż przetwarzanie danych osobowych Pani/Pana dotyczących narusza przepisy ogólnego rozporządzenia o ochronie danych osobowych z dnia 27 kwietnia 2016 r. <br>

7) Pani/Pana dane będą przetwarzane w sposób zautomatyzowany w tym również w formie profilowania. <br>

</p>
<h4>
    PLIKI COOKIES
</h4>

W ramach naszej witryny stosujemy pliki cookies w celu świadczenia Państwu usług na najwyższym poziomie, w tym w sposób dostosowany do indywidualnych potrzeb. Korzystanie z witryny bez zmiany ustawień dotyczących cookies oznacza, że będą one zamieszczane w Państwa urządzeniu końcowym. Możecie Państwo dokonać w każdym czasie zmiany ustawień dotyczących cookies.

</body>
</html>