{% extends 'familytreebuilder/base.html' %}

{% load crispy_forms_tags %}
{% crispy example_form %}

{% block title %}Logowanie{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-6">
<h3>Logowanie</h3>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <style>
      button{
      width:120px;
      }
      a{
      width:120px;
      }

    </style>

    <button type="submit" class="btn btn-success">Zaloguj</button>
    <a href="{% url 'signup' %}" class="btn btn-primary active" role="button" aria-pressed="true">Rejestracja</a>
    <p>
    <p><a href="{% url 'password_reset' %}">Zapomniałeś hasła?</a></p>
    </p>
  </form>
  </div>
</div>

{% endblock %}