{% extends 'familytreebuilder/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Zapomniałeś hasła?{% endblock %}

{% block content %}
<div class="container">

    <h2 class="mt-2">Family Tree Builder</h2>
    <hr>
    <div class="row justify-content-left">
        <div class="col-6">
            <h3>Zapomniałeś hasła?</h3>
            <p>Wpisz swój mail poniżej a wyślemy Ci instrukcje jak je zmienić.</p>

            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Wyślij instrukcje</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}